# 表示停止向上冒泡。这意味着当在lombok.config文件中设置了某个配置项后，如果在更高级别的目录中也存在lombok.config文件，且该配置项的值不同，那么该配置项的值将不会被继承。
config.stopBubbling = true
# 表示在生成toString方法时，调用父类的toString方法。
lombok.tostring.callsuper=CALL
# 表示在生成equals和hashCode方法时，调用父类的equals和hashCode方法。
lombok.equalsandhashcode.callsuper=CALL
# 表示启用链式访问器。链式访问器是一种简化代码的方式，它允许通过连续调用多个方法来操作对象的属性，而不需要每次都创建新的对象。
lombok.accessors.chain=true
